<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>652123860462-4pijdcnfgu7qp3ug624g0hjgiuth62r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652123860462-4pijdcnfgu7qp3ug624g0hjgiuth62r6</string>
	<key>API_KEY</key>
	<string>AIzaSyDXruBOet_d3C44zRgQmaS-IO-HtBWnhQk</string>
	<key>GCM_SENDER_ID</key>
	<string>652123860462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgp.sociaapp</string>
	<key>PROJECT_ID</key>
	<string>social-ab4e3</string>
	<key>STORAGE_BUCKET</key>
	<string>social-ab4e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:652123860462:ios:d0d8233ceed56cfb</string>
	<key>DATABASE_URL</key>
	<string>https://social-ab4e3.firebaseio.com</string>
</dict>
</plist>